* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
   text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


body {
    font-family: "Times New Roman", serif;
    line-height: 2;
    background-color: #fafafa;
    color: #1F2937;
    padding: 32px 16px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

nav {
   display: flex; 
   margin-top: 16px;
   margin-bottom: 32px;  
}

nav a {
    margin-right: 16px;
    background-color: #43a047;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #43a047;
    transition: 
    transform 0.3s ease, 
    box-shadow 0.3s ease, 
    background-color 0.3s ease, 
    color 0.3s ease, 
    border-color 0.3s ease;
}

nav a:hover {
  background-color: #111827;
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  background-color: #ffffff;
  border: 4px solid #43a047;
}

.section h2 {
    transition: text-decoration 0.2s ease;
}

.section:hover h2 {
    text-decoration: underline;
}

footer {
    border-top: 2px solid #2a6f37;
    padding-top: 10px;
    margin-top: 50px;
}