* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3f2fd;;
  margin: 0;
  padding: 20px;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  background-color: #ffffff;
  border: 4px solid #0288d1;
}

h1 {
  color: #01579b;
  font-size: 28px;
  margin: 10px;
}

p {
  color: #37474f;
  font-size: 18px;
}