* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 2;
  color: #111111;
  background-color: #e8f5e9;;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 32px 0;
}

main {
  max-width: 800px;
  width: 100%;
  padding: 0 16px;
}

h1 {
  font-size: 3.75rem;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -0.25rem;
  text-align: center;
  margin-bottom: 24px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.nav-horizontal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: green;
  padding: 0 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-horizontal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.nav-horizontal li {
  margin-bottom: 0;
}

.nav-horizontal a {
  display: block;
  padding: 16px 0;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-horizontal a:hover {
  color: black;
}

.nav-horizontal+main {
  margin-top: 80px;
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 4px solid #43a047;
}

#contact h2 {
    text-decoration: underline;
    margin-top: -20px;
}

#contact p {
  margin-bottom: 4px;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
}

#image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 48px auto;
    max-width: 300px;
    object-fit: contain;

}

.image1 {
    width: 100%;
    height: auto;
    display: block;
    margin: 64px auto;
    max-width: 300px;
    object-fit: contain;
} 

.hobby-images {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  max-width: 600px;              
  margin: 40px auto;              
}

.hobby-images img {
  width: 250px;   
  height: auto;
  display: block;
}